# $schema: https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

services:
  frontend:
    image: "ghcr.io/sevenc-nanashi/chart_cyanvas/frontend:latest"
    pull_policy: always
    volumes:
      - ./.env:/app/frontend/.env
    depends_on:
      - backend
      - wiki
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3100/"]
      interval: 30s
      timeout: 10s
      retries: 3

  backend:
    image: "ghcr.io/sevenc-nanashi/chart_cyanvas/backend:latest"
    pull_policy: always
    volumes:
      - ./.env:/app/.env
    depends_on:
      - redis
      - postgres
      - sub-chart
      - sub-audio
      - sub-image
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 30s
      timeout: 10s
      retries: 3

  wiki:
    image: "ghcr.io/sevenc-nanashi/chart_cyanvas/wiki:latest"
    pull_policy: always
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3101/wiki/logo.svg"]
      interval: 30s
      timeout: 10s
      retries: 5

  sub-audio:
    image: "ghcr.io/sevenc-nanashi/chart_cyanvas/sub-audio:latest"
    pull_policy: always
    restart: always
    volumes:
      - ./.env:/app/.env
    depends_on:
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3202/"]
      interval: 30s
      timeout: 10s
      retries: 3

  sub-image:
    image: "ghcr.io/sevenc-nanashi/chart_cyanvas/sub-image:latest"
    pull_policy: always
    restart: always
    volumes:
      - ./.env:/app/.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3203/"]
      interval: 30s
      timeout: 10s
      retries: 3

  sub-chart:
    image: "ghcr.io/sevenc-nanashi/chart_cyanvas/sub-chart:latest"
    pull_policy: always
    restart: always
    volumes:
      - ./.env:/app/.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3201/"]
      interval: 30s
      timeout: 10s
      retries: 3

  redis:
    image: "redis:7.0.7-alpine"
    restart: always
    volumes:
      - ./data/redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  postgres:
    image: "postgres:15.1-alpine"
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 30s
      timeout: 10s
      retries: 3
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}

  nginx:
    image: "nginx:1.23.3-alpine"
    restart: always
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_healthy
      wiki:
        condition: service_healthy
    ports:
      - "$FINAL_PORT:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./backend/public:/app/backend-public
      - ./backend/assets:/app/backend-assets
