@use "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  @apply font-sans;

  --global-theme-text: theme("colors.themeDark");
  --global-background: theme("colors.white");
  --global-input-border: theme("colors.slate.300");

  @media (prefers-color-scheme: dark) {
    --global-theme-text: theme("colors.theme");
    --global-background: theme("colors.slate.800");
    --global-input-border: theme("colors.slate.700");
  }
}

a {
  @apply text-blue-500 no-underline;
}

svg {
  @apply inline-block;
}

p a,
li a,
.text a {
  @apply text-blue-500 underline;
}

.page-title {
  @apply text-2xl font-bold mb-2 drop-shadow-sm text-themeText;
  border-bottom: 1px solid var(--global-theme-text);
}

.square {
  aspect-ratio: 1/1;
}

.text-normal {
  @apply text-slate-900 dark:text-white;
}

.bg-input {
  @apply bg-white dark:bg-slate-900;
}

input,
textarea {
  @extend .bg-input;
}

.input-border {
  @apply border-2 border-inputBorder focus-within:border-theme focus-within:outline-none rounded;
}

.text-input {
  @extend .bg-input;
  @extend .input-border;
  @apply text-slate-900 dark:text-white p-2 transition-colors duration-200;

  &:disabled,
  &.disabled {
    @apply bg-slate-100 dark:bg-slate-800 text-slate-500 dark:text-slate-400;
  }
}

.text-input-error {
  @apply border-red-500;
}

textarea {
  @apply resize-none;
}

.tag-input {
  .react-tags-wrapper {
    @extend .text-input;

    .ReactTags__selected {
      @apply flex flex-wrap gap-1;
    }

    .tag-wrapper {
      @apply bg-slate-200 dark:bg-slate-700 text-slate-900 dark:text-white px-1 py-[2px] rounded;

      button {
        @apply outline-none ml-1;
      }
    }

    .ReactTags__tagInput {
      @apply flex-grow;
    }

    .ReactTags__tagInputField {
      @apply bg-transparent outline-none w-full py-[2px] border-b border-slate-300 dark:border-slate-700;
    }
  }
}

[data-reached-max="true"] {
  .ReactTags__tagInput {
    @apply hidden;
  }
}

.button {
  @apply transition-colors duration-200 box-border rounded text-center;

  &:disabled,
  &.disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  &:not(:disabled):not(.disabled) {
    @apply cursor-pointer;
  }
}

.button-danger {
  @extend .button;
  @apply bg-red-500 text-white bg-opacity-100;

  &:not(:disabled) {
    @apply hover:bg-opacity-80 focus:bg-opacity-80;
  }
}

.button-primary {
  @extend .button;
  @apply bg-theme text-white bg-opacity-100;

  &:not(:disabled):not(.disabled) {
    @apply hover:bg-opacity-80 focus:bg-opacity-80;
  }
}

.button-secondary {
  @extend .button;
  @apply text-theme border-2 border-theme bg-theme bg-opacity-0;

  &:not(:disabled):not(.disabled) {
    @apply hover:bg-opacity-10 focus:bg-opacity-10;
  }
}
