name: "[backend] Lint and Test"

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend-*.yml"
      - ".github/actions/**"
      - "Rakefile"
      - "config.test.yml"
      - "docker-compose.dev.yml"
    branches:
      - main
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backend-*.yml"
      - ".github/actions/**"
      - "Rakefile"
      - "config.test.yml"
      - "docker-compose.dev.yml"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
      - name: Setup .env
        run: |
          cp ./config.test.yml ./config.yml
          rake configure
      # - name: Cache gems
      #   uses: actions/cache@v3
      #   id: cache-gems
      #   with:
      #     path: vendor/bundle
      #     key: ${{ runner.os }}-bundler-${{ hashFiles('**/Gemfile.lock') }}
      #     restore-keys: |
      #       ${{ runner.os }}-bundler-
      #  FIXME: Fix after https://github.com/actions/runner/issues/449
      - name: Install gems
        if: steps.cache-gems.outputs.cache-hit != 'true'
        working-directory: ./backend
        run: |
          gem install net-smtp
          bundle config path vendor/bundle
          bundle config set frozen 'true'
          bundle install --jobs 4 --retry 3
      - name: Setup other sub services
        run: |
          docker compose -f docker-compose.build.yml up -d sub-audio sub-chart sub-image sub-temp-storage

      - name: Run backend lint
        working-directory: ./backend
        run: |
          pwd
          bundle exec rake lint

      - name: Run backend test
        working-directory: ./backend
        run: |
          pwd
          cp ../docker-compose.dev.yml ../docker-compose.yml
          docker compose --env-file ../.env up -d
          docker compose --env-file ../.env up mc
          export CONSOLE_OUTPUT=XTerm
          bundle exec rake db:setup
          bundle exec rake db:migrate
          bundle exec rake spec
  build:
    if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    needs:
      - check
    permissions:
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build image
        uses: ./.github/actions/build
        with:
          directory-name: backend
  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Merge image
        uses: ./.github/actions/merge
        with:
          directory-name: backend
