name: "[frontend] Lint, Typecheck"

on:
  push:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-*.yml"
      - ".github/actions/**"
      - "Rakefile"
      - "config.test.yml"
      - "package.json"
      - "pnpm-lock.yaml"
    branches:
      - main
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-*.yml"
      - ".github/actions/**"
      - "Rakefile"
      - "config.test.yml"
      - "package.json"
      - "pnpm-lock.yaml"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
      - name: Setup .env
        run: |
          cp ./config.test.yml ./config.yml
          rake configure
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: Run frontend lint
        working-directory: ./frontend
        run: |
          pnpm i
          pnpm lint

      - name: Run frontend typecheck
        working-directory: ./frontend
        run: |
          pnpm typecheck

  build:
    if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    needs:
      - check
    permissions:
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build image
        uses: ./.github/actions/build
        with:
          directory-name: frontend
  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Merge image
        uses: ./.github/actions/merge
        with:
          directory-name: frontend
